body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

#container{
    background-color: rgb(0, 109, 211);
    position: fixed;
    bottom: 80px;
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.pp{
    padding: 0px 150px;
    text-align: justify;
    width: 200px;   
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    color: rgb(155, 155, 155);
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }


.footer-content{
    padding-top: 30px;
  }

.container-inside{
    background-color: rgb(2, 148, 26);
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    border-radius: 5px; 
    z-index: 1;
    bottom: 230px;

    
}
img {
    display: flex;
    max-width: 100%;
    height: auto;
  }

#email {
  border: 0px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.paragrah{
    font-size: 16px;
    text-align: center;
    padding: 30px 0px;
    color: white;
}

.form {
    position: relative;
    width: 500px;
    padding: 15px;
    
}

 #Subscribe {
    position: absolute;
    border: none;
    display: block;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    bottom: 20px;
    right: 0;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
  }

