body{
    background-color: antiquewhite;
}

footer {
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: grey;
}
span{
    padding-bottom: 30px;
}

#container{
    background-color: rgb(100, 84, 84);
    position: fixed;
    bottom: 50px;
    width: 100%;
    padding-top: 300px;
    
}

p{
    padding: 100px;
}

